#intro {
  background-image: url(../Assets/Images/Background_Intro.png);
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;

  #info {
    /* border: 1px solid yellow; */
    width: 1040px;
    margin: 120px auto 94px;

    header {
      /* border: 1px solid blue; */
      justify-items: center;
      width: 680px;
      margin: auto;
      margin-bottom: 80px;

      #avatar {
        /* border: 1px solid green; */
        width: 96px;
        height: 96px;
        position: relative;
        margin-bottom: 56px;

        #profile {
          width: 87.27px;
          border: 2px solid var(--red);
          border-radius: 50%;
          padding: 4.36px;
          margin-bottom: 56px;
        }

        #code {
          width: 32px;
          height: 32px;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }

      #text {
        p:nth-child(1) {
          font: var(--subtitle);
          color: var(--gray-500);
          span {
            color: var(--red);
          }
        }
        h1 {
          margin: 8px 0 20px;
          font: var(--title-lg);
          color: var(--gray-600);
        }
        p:nth-child(3) {
          font: var(--text-sm);
          color: var(--gray-400);
        }
      }
    }
    #tags {
      /* border: 1px solid plum; */
      width: 754px;
      margin: auto;
      display: flex;
      justify-content: space-between;

      .content-tag {
        background-color: var(--gray-300);
        border-radius: 999px;
        color: var(--gray-500);
        font: var(--text-md);
        padding: 8px 16px;
        display: inline-flex;
        align-items: center;
        gap: 8px;

        .tag-icon {
          width: 24px;
          aspect-ratio: 1/1;
          #HTML {
            fill: var(--red);
          }
        }
      }
    }
  }

  #double-down {
    width: 32px;
    margin: auto;
    padding-bottom: 57px;
  }
}

#projects {
  background-color: var(--gray-200);
  justify-items: center;
  padding: 72px 0 144px;

  header {
    /* border: 1px solid paleturquoise; */
    width: 1040px;
    text-align: center;
    margin-bottom: 56px;
  }

  #projects-grid {
    width: 1040px;
    display: grid;
    grid-template-areas:
      "travelgram tech-news pagina-de-receita"
      "zingen refund pagina-de-turismo";
    gap: 24px;

    .project-image {
      width: 306px;
      border-radius: 8px;
    }

    .projects-figure {
      width: 330px;
      padding: 12px;
      background-color: var(--gray-300);
      border-radius: 12px;
      figcaption {
        padding: 5px 0 5px;
      }
      &:hover {
        border: 1.5px solid var(--gray-600);
      }
    }
  }
}

#services {
  background-color: var(--gray-100);
  background-size: cover;
  padding: 88px 0 120px;
  justify-items: center;

  header {
    /* border: 1px solid aquamarine; */
    margin-bottom: 56px;
  }
  #services-grid {
    /* border: 1px solid royalblue; */
    display: grid;
    grid-template-areas: "web-app api-db dev-ops";
    gap: 24px;

    .services-tag {
      border: 2px solid var(--gray-200);
      border-radius: 12px;
      padding: 20px;
      width: 280px;
      .icon-service {
        width: 48px;
        margin-bottom: 20px;
      }
    }
  }
}

#contact {
  background-image: url(../Assets/Images/Background_Contacts.png);
  background-size: cover;
  padding: 128px 0 200px;
  justify-items: center;

  header {
    margin-bottom: 48px;
    text-align: center;

    p:nth-child(1) {
      font: var(--subtitle);
      color: var(--purple);
    }
    h2 {
      font: var(--title-md);
      color: var(--gray-600);
      margin: 8px 0 8px;
    }
    p:nth-child(3) {
      font: var(--text-md);
      color: var(--gray-500);
    }
  }

  ul {
    display: grid;
    gap: 16px;

    li {
      width: 400px;
      color: var(--gray-500);
      padding: 20px 20px 24px;
      background-color: var(--gray-300);
      padding-block: 20px 24px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      div {
        display: flex;
        align-items: center;
        gap: 14px;
      }

      &:hover {
        border: 1.5px solid var(--blue);
      }
    }
  }
}
